---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - About me</title>
	</head>
	<body>

        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </nav>

		<h1>About me</h1>
		<p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae id praesentium labore assumenda commodi, laudantium voluptatem, quo tempore repellat ab sapiente, quod voluptatibus rerum aliquam quibusdam ea natus autem et.
        </p>
	</body>
</html>
