---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - About me</title>
	</head>
	<body>

        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
			<a href="/blog">Blog</a>
        </nav>

		<h1>I’m learning Astro</h1>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quos veritatis dignissimos, soluta velit facilis. Doloribus, iusto eaque? Voluptate accusamus est dolore accusantium cum consequatur, facere nihil provident dolorum repudiandae?
		</p>
	</body>
</html>
